@font-face {
    font-family: 'Age';
    src: url('resources/Age.otf') format('opentype');
    font-weight:100;
    font-style:normal;
}


body{
    background-color:#12121b;
}

.title{
    color:#FFF;
    text-align:center;
    font-family:Age;
    font-size:20px;
}

.header{
    height:60px;
    background-color:#FFF;
    margin-top:-15px;
    width:110%;
    margin-left:-10px;
    text-align:center;
}

.header img{
    margin-top:2.5px;
    width:55px;
    height:55px;
}

.header ul{
    list-style:none;
    margin-left:-37.5px;
    color:#12121b;
    display:flex;
}

.header ul .textLinks{
    margin-left:1px;
}

.header ul .textLinks li{
     display:inline-block;
     font-family:Age;
     width:60px;
     height:16px;
     padding: 22px 10px 22px 10px;
     border-radius:5px 5px;
 }
 
 .hover{
     background-color:#cccccc;
 }
 
 a{
     text-decoration:none;
     color:#12121b;
 }
 
.selected{
    color:#FFF;
    background-color:#12121b;
}

.comingSoon{
    font-size:20px;
    color:#FFF;
    text-align:center;
    margin-top:10px;
    font-family:Age;
}

#mouseParticles{
    z-index:100;
    position:absolute;
    background-color:rgba(255,255,255,0.0);
    margin-top:60px;
    margin-left:-10px;
}