.navbar {
    background-color: transparent!important;
}

html,
body {
    margin: 0;
    padding: 0;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
    width:100%;
    height:100%;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #121212;
    background-position: center center;
}

.big-header {
    color: whitesmoke;
    font-size:128px;
    font-family: "American Typewriter";
}

.big-subheader {
    color: darkgray;
    font-size:54px;
    font-family: "American Typewriter";
}

.center-box {
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    margin-left:-10px;
}
